Day4_NewsDigest.json.json
{
  "name": "Daily Placement News Digest",
  "nodes": [
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "24d264b3-45c9-4cf0-88f5-fdb78c1b8500",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize AI in 5 bullet points.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "b757c59a-3769-41c6-81ab-afa2b7290b1d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fromEmail": "srisuryalakshmi.bulusu@gmail.com",
        "toEmail": "srisuryalakshmi.bulusu@gmail.com",
        "subject": "=Testing the tool n8n | Placement News Digest — {{$now.format(\"dd MMM yyyy\")}}",
        "emailFormat": "text",
        "text": "=Good morning. Today's placement news digest:\n\n{{ $('HTTP Request').item.json.choices[0].message.content }}\n\nSent automatically by n8n.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        0
      ],
      "id": "da9b33f4-58b5-46d6-bfc1-7e17ffcac01b",
      "name": "Send an Email",
      "webhookId": "415a43c5-c5fc-434c-8a64-3ac555a7ac4a",
      "credentials": {
        "smtp": {
          "id": "4AhqEGucDwmzHk69",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "134e52ba-5926-4288-acf2-50a4477c7ed4",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 20 * * 3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b9a8126f-d527-4ff0-bf96-9b831c040723",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4f270262-b1a8-48ab-9257-65ad14dc4883",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b887b70b2b766910dec5d5a3322688c1dd8e17dc70fca4c4a7c08255c2bacddf"
  },
  "nodeGroups": [],
  "id": "1vJA7I9abEVZ0qYV",
  "tags": []
}